<script setup lang="ts">
import {ref} from "vue"
const message = ref("HelloWorld!");
const isRed = ref(true);
const color = ref("green")
function toggleRed(){
    isRed.value = !isRed.value
}
function toggleColor(){
    color.value = color.value === "green" ? "blue" : "green"
}
</script>

<template>
    <p>
        <span v-bind:title="message">

            Hover your mouse over me for a few second to see my dynamically bound title!
        </span>
    </p>

    <p :class="{red: isRed}" @click="toggleRed">
        <span title="message">
            this should be red... but click me to toggle it.
        </span>
    </p>

    <p :style="{color}" @click="toggleColor">
        <span>This should be green... but click me to toggle it. </span>
    </p>
</template>
<style scoped>
    .red{
        color:red;
    }
</style>