<script setup lang="ts">

import CalComponent from "./components/CalComponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionAndLoops from "./components/ConditionAndLoops.vue";
import FormBinding from "./components/FormBinding.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent />
    <br />
    <br />
    <br />
    <FormBinding />
    <br />
    <br />
    <br />
    <ConditionAndLoops />
    <br />
    <br />
    <br />
    <AttributeBindings />
    <HandlingUserInput />
    <CalComponent />
    <HelloWorldExample />
    
    

    
  </div>
</template>

<style scoped></style>
